@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --off-white: #e5e5e5;
  --tr-white-1: rgba(255, 255, 255, 0.25);
  --tr-white-2: rgba(255, 255, 255, 0.1);
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
  --shadow: rgba(3, 46, 87, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #ffffff25),
    url(../assets//wallpaperbetter.com_2880x1800.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 3rem;
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .container {
    height: auto;
    padding: 2rem;

    .box {
      gap: 2rem;
      flex-direction: column;
    }
  }
}
